@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

/**    header   **/


.header {
    text-align: center;
    font-weight: 700;
    font-family: 'Merienda One', 'Brush Script MT', cursive;
    color: rgb(255, 148, 148);
    background: url("../images/bgimg.jpg") no-repeat bottom right fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

}