@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
}

/**    header   **/
#brand {
  
  font-family: 'Merienda One', 'Brush Script MT', cursive;
  color: rgb(255, 148, 148);
  letter-spacing: 3px;
  float: left;
  font-size: 200%;
  margin-left: 30px;
  
}


#menu {
  list-style-type: none;
  letter-spacing: 3px;
  font-size: 110%;
}
#brand, #menu {
  line-height: 75px;
}

#menu li {
  
  margin-right: 30px;
}


#menu a {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Merienda One';
  color: rgb(255, 148, 148) ;
}

#menu a:hover {
  font-size: 115%;
  border-bottom: 2px solid;
  transition: all 0.3s ease;

}
.navbar-toggler {
  border: none;
  
  
}
.navbar-toggler:focus{
  box-shadow: none
}
.navbar-toggler-icon:focus{
  color: inherit;
}

.bg-body-tertiary{
  background-color: white !important;

} 

#main-img{
  height: 600px;
  width: 100%;
  background: url(../images/bgimg.jpg) no-repeat center center;

  animation-name: img-zoom;
  animation-duration: 5s;
  animation-fill-mode: backwards;
  

}

#main-div{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes img-zoom{
  from{
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}

#slogan{
  font-size: 130%;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

 

  bottom: 30px;
  left: 120px;

  position: absolute;
}

/** Services **/

#our-services{
  letter-spacing: 4px;
  text-transform: uppercase;
}

.left-serv{
  
 
  float: right;
  clear: both;
  margin-bottom: 50px;
}

.right-serv{
 
  float: left;
  clear: both;
  margin-bottom: 50px;
  text-align: right;
}

hr{
    border-top: 2px solid rgb(255, 148, 148) ;
    width: 100%;
    margin: 5px 0;
}

.serv-header {
  text-transform: uppercase;
  font-weight: lighter;
}
  

.element-animation {
  margin: 2rem 0;

  
  
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 3s;
  transform: translateY(0%);
}



#doctorimg {
  height: 600px;
  width: 400px;
  
 
}


.left-serv.top.element-animation{
  opacity: 0;
  transform: scale(0);
  transition: 3s;
}
.left-serv.top.element-animation.element-show{
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.5s;
}
.left-serv.bottom.element-animation{
  opacity: 0;
  transform: scale(0);
  transition: 3s;
}

.left-serv.bottom.element-animation.element-show{
  opacity: 1;
  transform: scale(1);
  transition-delay: 1s;
}

.right-serv.top.element-animation{
  opacity: 0;
  transform: scale(0);
  transition: 3s;
}
.right-serv.top.element-animation.element-show{
  opacity: 1;
  transform: scale(1);
  transition-delay: 1.5s;
}
.right-serv.bottom.element-animation{
  opacity: 0;
  transform: scale(0);
  transition: 3s;
}

.right-serv.bottom.element-animation.element-show{
  opacity: 1;
  transform: scale(1);
  transition-delay: 2s;
}

/*     Questions      */



#questions h2 {

  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.accordion-button:not(.collapsed){
  background-color: rgb(255, 227, 225);
  color: white;
}


.accordion-item{
  color: inherit;
}

.accordion-button{
  color: inherit;

}

.accordion {
  --bs-accordion-border-color: white;
  --bs-accordion-btn-focus-box-shadow: white;
}

.accordion-button:hover {
  font-size: 60%;

  transition: all 0.35s ease-in-out;

}
.accordion-body{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 110%;
}

/*   Contacts   */




#address{
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

#direction{
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

i {
  font-size: 150%;
  margin: 45px ;
}

#map{
  height: 350px;
  
}

footer{
  background-color: rgb(255, 148, 148);
  color:white;
  min-height: 100px;
  font-size: 110%;
}

#footer-text{
  padding-top: 35px;
  text-align: center;
}